<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <!-- Jersey Servlet configurations -->
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.constellation</param-value> <!-- changed from backend to AuctionService-->
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/*</url-pattern> 
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ForwardAuctionBidding</servlet-name>
    <jsp-file>/ForwardAuctionBidding.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardAuctionBidding</servlet-name>
    <url-pattern>/ForwardAuctionBidding</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DutchAuctionBidding</servlet-name>
    <jsp-file>/DutchAuctionBidding.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DutchAuctionBidding</servlet-name>
    <url-pattern>/DutchAuctionBidding</url-pattern>
  </servlet-mapping>
  

</web-app>
