<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <!-- Jersey Servlet configurations -->
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.constellation</param-value> <!-- changed from backend to AuctionService-->
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/v1/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ForwardAuctionBidding</servlet-name>
    <jsp-file>/ForwardAuctionBidding.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardAuctionBidding</servlet-name>
    <url-pattern>/forwardAuction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DutchAuctionBidding</servlet-name>
    <jsp-file>/DutchAuctionBidding.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DutchAuctionBidding</servlet-name>
    <url-pattern>/dutchAuction</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AuctionEnded</servlet-name>
    <jsp-file>/AuctionEnded.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionEnded</servlet-name>
    <url-pattern>/auctionEnded</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignupPage</servlet-name>
    <jsp-file>/SignUp.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupPage</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>Payment</servlet-name>
    <jsp-file>/Payment.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>

      <servlet>
    <servlet-name>Receipt</servlet-name>
    <jsp-file>/Receipt.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Receipt</servlet-name>
    <url-pattern>/receipt</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/Login.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Catalog</servlet-name>
    <jsp-file>/Catalog.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Catalog</servlet-name>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>MainPage.html</welcome-file>
  </welcome-file-list>
</web-app>

